/** Level 1 styling: simple baseline defaults, unopinionated, perhaps suitable
 * for inclusion as a browser's default stylesheet.
 */

@import "defs";


////// Structural

body {
    font-family: "Ubuntu", "DejaVu Sans", sans-serif;
    font-size: 16px;
    color: #202020;
}

section {
    margin: $major-margin;

    section {
        margin-left: 0;
        margin-right: 0;
    }
    &:first-child {
        margin-top: 0;
    }
    & + section {
        margin-top: $major-between;
    }
    & > section + section {
        margin-top: $major-margin;
    }
}

p {
    line-height: 1.5;
    margin-bottom: 0.5em;
}


////// Inline

code, tt, kbd, samp, pre {
    // TODO document this apparent sans-serif hack
    font-family: Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Andale Mono", Consolas, "Courier New", monospace, sans-serif;
}

var {
    font-family: serif;
    font-style: italic;
}

pre {
    line-height: 1.33;
}
