// buttons, buttons, get yer buttons
@import "lib/css3";
@import "defs";

@mixin button-color($base) {
    $button-border-color: scale-color($base, $lightness: -20%);
    position: relative;

    background: $base;
    background-image: linear-gradient(rgba($base, 0.6) 0%, rgba($button-border-color, 0) 100%);
    border-color: $button-border-color;
    box-shadow: inset 0 0 2px rgba(white, 0.5),
        0 1px 2px 0px rgba(black, 0.1);

    color: scale-color($base, $lightness: -75%);
    text-shadow: 1px 1px rgba(white, 0.1);

    &:hover {
        background-color: scale-color($base, $lightness: -5%);

        // Try to make links not look like links
        color: inherit;
        text-decoration: none;
    }

    &:active {
        box-shadow: inset 1px 1px 2px -1px rgba(black, 0.5);
        box-shadow: inset 0 0 2px rgba(scale-color($base, $lightness: -30%), 0.5),
            0 0 2px 0px rgba(black, 0.1);
        top: 1px;
    }
}

.btn {
    padding: 0.25em 0.5em;

    color: black;
    border: 1px solid #777;
    border-radius: 2px;
    background: white;

    @include button-color(#f0f0f0);

    &[disabled] {
        color: #999;
        border-color: $border-color;
        background: #eee;
        box-shadow: none;
        cursor: not-allowed;
    }

    a& {
        display: inline-block;
        line-height: normal;
    }
}

.btn-set {
    display: inline-block;
    word-spacing: -1em;
    white-space: nowrap;

    .btn {
        border-radius: 0;
        margin: 0;
        word-spacing: normal;

        & + .btn {
            margin-left: -1px;
        }

        &:first-child {
            border-radius: 2px 0 0 2px;
        }
        &:last-child {
            border-radius: 0 2px 2px 0;
        }
    }
    box-shadow: 0 0 0 -1em yellow;
}

.btn.success { @include button-color(hsl(120, 40%, 85%)); }
.btn.info { @include button-color(hsl(216, 50%, 85%)); }
.btn.error { @include button-color(hsl(0, 50%, 85%)); }
.btn.btn-primary { @include button-color(hsl(216, 50%, 85%)); }
.btn.btn-reset { @include button-color(hsl(30, 50%, 85%)); }



// TODO these are not buttons.
textarea,
input[type='password'],
input[type='search'],
input[type='text'] {
    padding: 0.25em;
    border: 1px solid $border-color;
    box-shadow: inset 1px 1px 1px 0 rgba($border-color, 0.4);
    border-radius: 2px;
    background: white;

    @include transition(linear $hover-time);
    @include transition-property((border-color, box-shadow));

    &:focus {
        border-color: hsl(216, 70%, 70%);
        box-shadow: inset 1px 1px 1px 0 rgba($border-color, 0.4),
            0 0 2px 1px hsl(216, 80%, 85%);
    }
}

textarea {
    @include box-sizing(border-box);
    width: 30em;
    height: 10em;
}
textarea[rows] {
    height: auto;
}
textarea[cols] {
    width: auto;
}

.txt-set {
    display: inline-block;
    padding: 0 0.33em;
    border: 1px solid $border-color;
    border-radius: 2px;
    background: #e8e8e8;

    word-spacing: 0;
    > * {
        word-spacing: normal;
    }


    > input[type='text'] {
        margin-top: -1px;
        margin-bottom: -1px;
        border-radius: 0;
    }

    > .btn {
        border: none;
        margin: 0;
    }

    > :first-child {
        margin-left: -0.33em;
    }
    > :last-child {
        margin-right: -0.33em;
    }
}


