////// Margins
// Typical margin between major elements
$margin: 1em !default;


////// Colors
// General-purpose border
$border-color: #ccc;


////// Transitions
// Transition time for most hover effects
$hover-time: 0.1s;
