@import "lib/mixins";

ol, ul, menu {
    &.inline > li {
        display: inline-block;
    }

    &.plain {
        padding: 0;
        list-style-type: none;
    }
}

dl.horizontal {
    @include horizontal-dl(12em, 0.5em);
    line-height: 1.5;

    dt {
        color: #666;
    }
}
